<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">


<th:block layout:fragment="css">
    <style>
        tr {
            text-align : center;
        }
    </style>
</th:block>

<div layout:fragment="content" class="content">

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">게시일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${postsListResponseDtos}" class="font-weight-normal">
            <td th:text="${post.id}"></td>
            <td><a th:href="@{/posts/{postsId}(postsId=${post.id})}" th:text="${post.title}"></a></td>
            <td th:text="${post.writer}"></td>
            <td th:text="${post.createdDate}"></td>
        </tr>
        </tbody>
    </table>
    <div class="text-right">
        <a href="/posts/save" role="button" class="btn btn-primary">글쓰기</a>
    </div>
</div>